@using Natusa.ViewModel
@using Natusa.Models
@model FlightsViewModel

@{
    ViewBag.Title = "Search";
}
<link href="~/CSS/SearchStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/SearchScript.js"></script>


<h2>SearchView</h2>
<div id="searchPage">
    <form action="SearchResults" method="post">
        <span class="searchInput">
            <input autocomplete="country" type="text" id="fromCountry" name="fromCountry" placeholder="From?" value="@Model.flight.origin" size="20" />
            <input autocomplete="country" type="text" id="toCountry" name="toCountry" placeholder="To?" value="@Model.flight.destination" size="20" />
            <input type="text" id="depDate" name="depDate" placeholder="When?" size="12" onfocus="(this.type='date')" onblur="(this.type='text')" value="@Model.flight.flightDate" />
            <input type="text" id="depTime" name="depTime" placeholder="At?" size="5" onfocus="(this.type='time')" onblur="(this.type='text')" />
        </span>
        <br><br />
        <span>
            <input type="radio" checked="checked" name="wayRadio" value="oneWay">
            One Way
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="wayRadio" value="bothWay">
            Both Way
        </span>
        <br><br />
        <span class="searchInput returnInput">
            <input type="text" id="retDate" name="retDate" placeholder="When to return?" size="12" onfocus="(this.type='date')" onblur="(this.type='text')" />
            <input type="text" id="retTime" name="retTime" placeholder="Return at?" size="5" onfocus="(this.type='time')" onblur="(this.type='text')" />
        </span>
        <button type="submit" id="searchBtn"><img src="~/Content/search-btn.png" alt="search" border="0" /> </button>
    </form>

    <br><br />

    @if (Model.outboundFlightsList.Count() > 0)
    {
        <hr />
        <br><br />
        <table id="flightSearchResults">
            <tr id="tableHeaders">
                <th><u>Flight ID</u></th>
                <th><u>Origin</u></th>
                <th><u>Date</u></th>
                <th><u>Departure</u></th>
                <th><u>Destination</u></th>
                <th><u>Price</u></th>
                <th><u></u></th>
            </tr>
            @if (Model.returnFlightsList.Count() == 0)
            {
                foreach (Flights flight in Model.outboundFlightsList)
                {
                    <tr id="oneWaytableResults">
                        <form action="Booking" method="post">
                            <td><input type="text" id="flightID" name="flightID" value="@flight.flightNum" size="10" readonly /> </td>
                            <td><input type="text" id="originRes" name="originRes" value="@flight.origin" size="10" readonly /></td>
                            <td><input type="text" id="dateRes" name="dateRes" value="@flight.flightDate" size="10" readonly /></td>
                            <td><input type="text" id="timeRes" name="timeRes" value="@flight.flightTime" size="10" readonly /></td>
                            <td><input type="text" id="destRes" name="destRes" value="@flight.destination" size="10" readonly /></td>
                            <td><input type="text" id="priceRes" name="priceRes" value="@flight.price$" size="10" readonly /></td>
                            <td><input type="submit" id="selectFlight" name="selected" value="SELECT" /></td>
                        </form>
                    </tr>

                }
            }
            else
            {
                foreach (Flights onBoundflight in Model.outboundFlightsList)
                {
                    foreach (Flights retflight in Model.returnFlightsList)
                    {
                        <tr id="twoWaytableResults">
                            <form action="Booking" method="post">
                                <td>
                                    <input type="text" id="flightID" name="flightID" value="@onBoundflight.flightNum" size="10" readonly />
                                    <input type="text" id="retFlightID" name="retFlightID" value="@retflight.flightNum" size="10" readonly />
                                </td>
                                <td>
                                    <input type="text" id="originRes" name="originRes" value="@onBoundflight.origin" size="10" readonly />
                                    <input type="text" id="originRetRes" name="originRetRes" value="@retflight.origin" size="10" readonly />
                                </td>
                                <td>
                                    <input type="text" id="dateRes" name="dateRes" value="@onBoundflight.flightDate" size="10" readonly />
                                    <input type="text" id="dateRetRes" name="dateRetRes" value="@retflight.flightDate" size="10" readonly />
                                </td>
                                <td>
                                    <input type="text" id="timeRes" name="timeRes" value="@onBoundflight.flightTime" size="10" readonly />
                                    <input type="text" id="timeRetRes" name="timeRetRes" value="@retflight.flightTime" size="10" readonly />
                                </td>
                                <td>
                                    <input type="text" id="destRes" name="destRes" value="@onBoundflight.destination" size="10" readonly />
                                    <input type="text" id="destRetRes" name="destRetRes" value="@retflight.destination" size="10" readonly />
                                </td>
                                <td>
                                    <input type="text" id="priceRes" name="priceRes" value="@onBoundflight.price$" size="10" readonly />
                                    <input type="text" id="priceRetRes" name="priceRetRes" value="@retflight.price$" size="10" readonly />
                                </td>
                                <td><input type="submit" id="selectFlight" value="SELECT" /></td>
                            </form>
                        </tr>
                    }
                }
            }

        </table>
    }

</div>